/* 字体声明 */
@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?7rmkhz');
    src: url('fonts/icomoon.eot?7rmkhz#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?7rmkhz') format('truetype'),
        url('fonts/icomoon.woff?7rmkhz') format('woff'),
        url('fonts/icomoon.svg?7rmkhz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

html {
    width: 0;
    height: 0;
}

* {
    margin: 0;
    padding: 0;
    /* -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; */
}

/* 版心 */
/* .w {
    width: 1500px;
    margin-left: 320px;
    background-color: pink;
} */

/* 设置字体 */
body {
    font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
}

/* 字体图标 */
.icomoon {
    font-family: 'icomoon';
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

/* 清除浮动 */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* 左侧导航区 */
.nav {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    float: left;
    width: 220px;
    height: 961px;
    background: rgb(97, 98, 109);
}

.nav-hd {
    height: 60px;
}

.logo {
    float: left;
    margin: 20px 0 0 20px
}


.nav-hd span {
    float: left;
    line-height: 60px;
    text-align: center;
    margin-left: 9px;
    font-size: 16px;
    color: #fff;
}



/* 每一个菜单栏项 */
.accordion {
    width: 100%;
    /* max-width: 360px; */
    margin: 0px auto 20px;
    padding-left: 0px;
    background: #61626d;
    /* -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; */
}

/* 主标题的修饰 */
.accordion .link {
    cursor: pointer;
    display: block;
    /* 设置左右间隔距离 */
    padding: 14px 25px;
    color: #FFFFFFB3;
    font-size: 15px;
    font-weight: 700;
    /* border-bottom: 1px solid #CCC; */
    position: relative;
    /* -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; */
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/* 设置字体图标右侧间隔 */
.accordion .link span {
    margin-left: 0px;
    margin-right: 8px;
}

.accordion li:last-child .link {
    border-bottom: 0;
}

.link:hover {
    background-color: #515a6e;
    color: #fff;
}

/* 左侧小图标 */
.accordion li i {
    position: absolute;
    top: 16px;
    left: 25px;
    font-size: 14px;
    color: #FFFFFFB3;
    /* 折叠箭头旋转速度调节 */
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

/* 右侧小图标 */
.accordion li i.fa-chevron-down {
    right: 40px;
    left: auto;
    font-size: 14px;
}

/* 无 */
/* .accordion li.open .link {
    color: #b63b4d;
} */

/* .accordion li.open i {
    color: #b63b4d;
} */

/* 角度调节 */
.accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}


.accordion li.default .submenu {
    display: block;
}


/* 子标题 */
.submenu {
    display: none;
    padding-left: 0px;
    background: #363e4f;
    /* font-size: 14px;
    padding-left: 0px; */
}

/* .submenu li {
    border-bottom: 1px solid #4b4a5e;
} */

.submenu a {
    display: block;
    text-decoration: none;
    padding: 14px;
    padding-left: 75px;
    font-size: 15px;
    color: #FFFFFFB3;
    /* 鼠标经过颜色切换速度调节 */
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.submenu a:hover {
    background: #2d8cf0;
    color: #fff;
}

/* 联系方式 */
.contactTip {
    position: absolute;
    bottom: 30px;
    left: 10%;
}

.contactp {
    color: #fff;
    font-size: 14px;
}






/* 右侧内容区 */
/* .right {
    margin-left: 220px;
    width: 1700px;
    height: 60px;
} */

/* 顶部 */
.header {
    position: fixed;
    top: 0;
    margin-left: 220px;
    width: 1700px;
    height: 60px;
    background-color: #61626d;
    /* background-color: rgba(97, 98, 109, .9); */
    /* background-color: pink; */
    /* 注意此地方会层叠 w 里面的margin */
    /* margin: 30px auto; */
}

/* 首页模块 */
.home {
    float: left;
    margin-left: 100px;
}

.home span {
    font-size: 18px;
    margin-right: 6px;
}

.home ul li {
    float: left;
    margin: 0 50px;
}

.home ul li a {
    display: block;
    height: 60px;
    padding: 0 20px;
    line-height: 60px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.home ul li a:hover {
    text-decoration: none;
    /* 下划线 */
    /* border-bottom: 2px solid #2d8cf0; */
    /* color: #2d8cf0; */
    color: #22ac38;
}

/* 搜索模块 */
/**
.search {
    float: left;
    width: 412px;
    height: 42px;
    margin-left: 70px;
}

.search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0;
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    /* 按钮button默认有个边框需要我们手动去掉 */
/* border: 0; */
/* background: url(images/btn.png);
} */


/* 用户模块 */
.user {
    float: right;
    margin-right: 100px;
}

.user ul li {
    float: right;
    margin: 0 50px;
}

.user ul li a {
    display: block;
    height: 60px;
    padding: 0 20px;
    line-height: 60px;
    font-size: 18px;
    color: #fff;
}

.user ul li a:hover {
    text-decoration: none;
    /* 下划线 */
    /* border-bottom: 2px solid #2d8cf0; */
    /* color: #2d8cf0; */
    color: #22ac38;

}

/* .user span {
    margin-right: 6px;
    font-size: 20px;
} */



/* banner部分 */
/* 版心 */
.w {
    width: 1500px;
    height: 880px;
    margin-left: 320px;
    float: left;
    /* background-color: #ccc; */
}

/* 图片 */
.banner img {
    float: left;
    width: 730px;
    height: 305px;
    margin-top: 100px;
    border-radius: 20px;
    background-color: pink;
    /* background-image: url(images/ThelastofUS.png); */
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    /* cursor: pointer; */
}

.banner {
    top: 0;
    left: 0;
}

/* 图片里的文字 */
.banner .tit {
    color: #FFF;
    /* color: #000; */
    font-size: 12px;
    position: absolute;
    top: 360px;
    left: 360px;
}

/* 右侧游戏资讯 */
.right-wap {
    float: right;
    width: 730px;
    height: 305px;
    margin-top: 100px;
    /* background-color: pink; */
}

/* 资讯头条盒子 */
.title {
    width: 730px;
    height: 35px;
    /* background-color: blue; */
    display: flex;
    /* 侧轴居中 */
    align-items: center;
}

/* 绿线 */
.title .greenLine {
    display: inline-block;
    width: 6px;
    height: 26px;
    background: #22ac38;
    border-radius: 13px;
    margin-right: 10px;
}

/* 资讯 */
.title .headline {
    font-weight: 700;
    font-size: 20px;
    color: #000;
}

/* 分隔线 */
.line-ziXun {
    width: 100%;
    height: 2px;
    background-color: #ececec;
    margin: 40px 0;
}

/* 资讯的盒子 */
.ziXun {
    width: 100%;
    height: 260;
    background-color: purple;

}

.ziXun-link {
    float: left;
}

/* 内容 */
.ziXun-link ul li {
    height: 45px;
    line-height: 45px;
    padding-bottom: 20px;
}

.ziXun-link ul li a {
    font-size: 14px;
    color: #000;
}

.ziXun-link ul li a:hover {
    text-decoration: none;
}

/* 日期 */
.date {
    float: right;
}

.date ul li {
    height: 45px;
    line-height: 45px;
    padding-bottom: 20px;
}

.date ul li a {
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
}

/* 热门游戏区 */
.hotGame {
    float: left;
    width: 100%;
    height: 117px;
    margin-top: 80px;
    /* background-color: pink; */
}


/* 4个盒子 */
.gameList {
    display: flex;
    justify-content: space-between;
    float: left;
    width: 1500px;
    height: 227px;
    margin-top: 20px;
    /* background-color: blue; */
}

.gameList .bgGame {
    width: 360px;
    height: 227px;
    /* background-color: red; */
    /* border-radius: 10px; */
}

.gameHead {
    width: 360px;
    height: 155px;
    /* background-color: pink; */

}

.gameHead img {
    width: 360px;
    height: 155px;
    /* 圆角 */
    border-radius: 10px 10px 0 0;
}

.gameFoot {
    width: 100%;
    height: 75px;
    background-color: #2d3239;
    /* 圆角 */
    border-radius: 0 0 10px 10px;
}

.gameFoot .gameName {
    width: 100%;
    color: #FFF;
    font-size: 16px;
    /* text-align: center; */
    text-align: left;
    padding: 0 20px;
    line-height: 27px;

}

.gamePriceInfo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 360px;
    height: 41px;
}

.gamePriceInfo .gameDiscount {
    width: 65px;
    height: 25px;
    background: #22ac38;
    color: #fff;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    border-radius: 5px;
    margin-right: 20px;

}

.gamePriceInfo .gamePriceDel {
    font-size: 14px;
    color: #fff;
    margin-right: 20px;
    /* 添加删除线 */
    text-decoration: line-through;
}

.gamePriceInfo .gamePrice {
    font-size: 28px;
    color: #fff;
    margin-right: 20px;
}

.line {
    width: 1500px;
    height: auto;
    /* background-color: purple; */
}

/* 页脚 */
.Footer {
    display: flex;
    justify-content: center;
    width: 1500px;
    height: 300px;
    margin-left: 320px;
    /* background-color: pink; */
}




.links {
    width: 150px;
    height: 200px;
    /* background-color: skyblue; */
}


.links dl dt {
    font-size: 16px;
    color: #424242;
    font-weight: 400;
    margin: 0 0 30px;

}

.links dl dd {
    margin-bottom: 10px;
}

.links dl dd a {
    font-size: 12px;
    color: #757575
}

.links dl dd a:hover {
    text-decoration: none;
    color: #22ac38;
}